body {
    font-family: Arial, Helvetica, sans-serif;
}
p1 {
    font-size: xx-large;
    text-align: center;
}
div .column {
    width: 300px;
}
img {
    padding: 6px;
    border: 2; color: aquamarine;
    margin: 12px;
}